@font-face {
  font-family: 'appFont';
  src:  url('fonts/appFont.eot?p7wjpz');
  src:  url('fonts/appFont.eot?p7wjpz#iefix') format('embedded-opentype'),
    url('fonts/appFont.ttf?p7wjpz') format('truetype'),
    url('fonts/appFont.woff?p7wjpz') format('woff'),
    url('fonts/appFont.svg?p7wjpz#appFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'appFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-add:before {
  content: "\e910";
  color: #474747;
}
.icon-icon-see:before {
  content: "\e915";
  color: #474747;
}
.icon-figures:before {
  content: "\e90d";
}
.icon-live-trace:before {
  content: "\e90e";
}
.icon-annotation:before {
  content: "\e90c";
}
.icon-information:before {
  content: "\e908";
  color: #1fa1ff;
}
.icon-scroll-page:before {
  content: "\e909";
  color: #1fa1ff;
}
.icon-comment-fill:before {
  content: "\e905";
}
.icon-bell-annotations:before {
  content: "\e904";
  color: #648af8;
}
.icon-filter_white_end:before {
  content: "\e957";
  color: #fff;
}
.icon-filter_white:before {
  content: "\e958";
  color: #fff;
}
.icon-pin_fill:before {
  content: "\e955";
  color: #fff;
}
.icon-pin_line:before {
  content: "\e956";
  color: #fff;
}
.icon-template-nocircle:before {
  content: "\e954";
  color: #fff;
}
.icon-download:before {
  content: "\e952";
  color: #648af8;
}
.icon-version:before {
  content: "\e953";
  color: #648af8;
}
.icon-icon-duplicate-nocircle:before {
  content: "\e951";
  color: #648af8;
}
.icon-consent:before {
  content: "\e950";
  color: #648af8;
}
.icon-docx .path1:before {
  content: "\e938";
  color: rgb(255, 255, 255);
}
.icon-docx .path2:before {
  content: "\e939";
  margin-left: -1.1806640625em;
  color: rgb(86, 148, 239);
}
.icon-pptx .path1:before {
  content: "\e93a";
  color: rgb(255, 255, 255);
}
.icon-pptx .path2:before {
  content: "\e93b";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path3:before {
  content: "\e93c";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path4:before {
  content: "\e93d";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path5:before {
  content: "\e93e";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path6:before {
  content: "\e93f";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path7:before {
  content: "\e940";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path8:before {
  content: "\e941";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path9:before {
  content: "\e942";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-pptx .path10:before {
  content: "\e943";
  margin-left: -1.1806640625em;
  color: rgb(247, 151, 47);
}
.icon-xlsx .path1:before {
  content: "\e944";
  color: rgb(255, 255, 255);
}
.icon-xlsx .path2:before {
  content: "\e945";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path3:before {
  content: "\e946";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path4:before {
  content: "\e947";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path5:before {
  content: "\e948";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path6:before {
  content: "\e949";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path7:before {
  content: "\e94a";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path8:before {
  content: "\e94b";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path9:before {
  content: "\e94c";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path10:before {
  content: "\e94d";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path11:before {
  content: "\e94e";
  margin-left: -1.1806640625em;
  color: rgb(255, 255, 255);
}
.icon-xlsx .path12:before {
  content: "\e94f";
  margin-left: -1.1806640625em;
  color: rgb(83, 183, 116);
}
.icon-notesbanner:before {
  content: "\e900";
}
.icon-agenda:before {
  content: "\e901";
}
.icon-arrowdown:before {
  content: "\e902";
}
.icon-collapseIn-Copy:before {
  content: "\e903";
}
.icon-confirmation:before {
  content: "\e906";
}
.icon-country:before {
  content: "\e907";
}
.icon-edit-nocircle:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-photo:before {
  content: "\e90f";
}
.icon-project:before {
  content: "\e911";
}
.icon-template:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e913";
}
.icon-view:before {
  content: "\e914";
}
.icon-audio:before {
  content: "\e916";
}
.icon-document:before {
  content: "\e917";
}
.icon-image:before {
  content: "\e918";
}
.icon-other:before {
  content: "\e919";
}
.icon-url-failed .path1:before {
  content: "\e91a";
  color: rgb(255, 255, 255);
}
.icon-url-failed .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-failed .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-failed .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(180, 17, 17);
}
.icon-url-failed .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-progress .path1:before {
  content: "\e91f";
  color: rgb(255, 255, 255);
}
.icon-url-progress .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-progress .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-progress .path4:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(52, 141, 225);
}
.icon-url-progress .path5:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-successful .path1:before {
  content: "\e924";
  color: rgb(255, 255, 255);
}
.icon-url-successful .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-successful .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url-successful .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(85, 189, 136);
}
.icon-url-successful .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-url:before {
  content: "\e929";
  color: #fff;
}
.icon-video:before {
  content: "\e92a";
}
.icon-zip-failed .path1:before {
  content: "\e92b";
  color: rgb(255, 255, 255);
}
.icon-zip-failed .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zip-failed .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(180, 17, 17);
}
.icon-zip-failed .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zip-progress .path1:before {
  content: "\e92f";
  color: rgb(255, 255, 255);
}
.icon-zip-progress .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zip-progress .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(52, 141, 225);
}
.icon-zip-progress .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zip-successful .path1:before {
  content: "\e933";
  color: rgb(255, 255, 255);
}
.icon-zip-successful .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zip-successful .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(85, 189, 136);
}
.icon-zip-successful .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zip:before {
  content: "\e937";
  color: #fff;
}
